<h1>THIS IS THE ABOUT PAGE</h1>

  
  

  
<p1> Hi, This is my attempt on learning Ruby on Rails. The page you are on has a Home button below, I am currently only
playing around with views, but I hope to add more features in the next few projects I plan on working. I plan on making really low level projects,
just so I can learn.<p1>


<%= link_to 'Homepage', root_path %>
